[itd="j-3f2a9d44"] {
  overflow: hidden;
}

[itd="j-3f2a9d44"] [itd] {
  display: none;
}

[itd="j-3f2a9d44"] .drag-zone {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
  color: red;
}
