body [data-type="section"] > * {
  max-width: 1200px;
  margin: 0 auto;
}

*::-ms-scrollbar {
  width: 0px;
  height: 0px;
}

*::-ms-scrollbar-track {
  background: #fff0;
}

*::-ms-scrollbar-thumb {
  background: #fff0;
}

*::-ms-scrollbar-thumb:hover {
  background: #fff0;
}

*::-moz-scrollbar {
  width: 0px;
  height: 0px;
}

*::-moz-scrollbar-track {
  background: #fff0;
  color: #fff0;
}

*::-moz-scrollbar-thumb {
  background: #fff0;
  color: #fff0;
}

*::-moz-scrollbar-thumb:hover {
  background: #fff0;
  color: #fff0;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #fff0;
  color: #fff0;
}

*::-webkit-scrollbar-thumb {
  background: #fff0;
  color: #fff0;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #fff0;
  color: #fff0;
}
