.list-item {
  display: flex;
  max-width: 200px;
}

.list-item .item {
  flex: 1;
  width: 100px;
  height: 100px;
  margin: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0900;
}

*::-ms-scrollbar {
  width: 0px;
  height: 0px;
}

*::-ms-scrollbar-track {
  background: #fff0;
}

*::-ms-scrollbar-thumb {
  background: #fff0;
}

*::-ms-scrollbar-thumb:hover {
  background: #fff0;
}

*::-moz-scrollbar {
  width: 0px;
  height: 0px;
}

*::-moz-scrollbar-track {
  background: #fff0;
  color: #fff0;
}

*::-moz-scrollbar-thumb {
  background: #fff0;
  color: #fff0;
}

*::-moz-scrollbar-thumb:hover {
  background: #fff0;
  color: #fff0;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #fff0;
  color: #fff0;
}

*::-webkit-scrollbar-thumb {
  background: #fff0;
  color: #fff0;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #fff0;
  color: #fff0;
}
